In [53]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [65]:
satp = pd.read_csv('C:/Users/varun/OneDrive/Desktop/conflict-india/data/dataset_satp_2019.csv')
satp

                                            description    year
0     A Special Police Officer (SPO), identified as ...  2019.0
1     Armed Forces Special Powers Act (AFSPA) has be...  2019.0
2     On January 1, an ex-United Liberation Front of...  2019.0
3     The number of objections filed on the draft of...  2019.0
4     The Year 2019 will be challenging for the Odis...  2019.0
...                                                 ...     ...
5293  Naga Students Federation (NSF) on December 31,...  2019.0
5294  National Register of Citizens (NRC) officials ...  2019.0
5295  Naxalites [Left Wing Extremists, LWEs] set abl...  2019.0
5296  The Northeast Today reports that an official s...  2019.0
5297  The Shillong Times reports on January 1, that ...  2019.0

[5298 rows x 2 columns]

In [66]:
# cleaning data
satp['description'] = satp['description'].str.lower()
satp = satp.drop_duplicates().reset_index(drop=True)
satp

                                            description    year
0     a special police officer (spo), identified as ...  2019.0
1     armed forces special powers act (afspa) has be...  2019.0
2     on january 1, an ex-united liberation front of...  2019.0
3     the number of objections filed on the draft of...  2019.0
4     the year 2019 will be challenging for the odis...  2019.0
...                                                 ...     ...
5290  naga students federation (nsf) on december 31,...  2019.0
5291  national register of citizens (nrc) officials ...  2019.0
5292  naxalites [left wing extremists, lwes] set abl...  2019.0
5293  the northeast today reports that an official s...  2019.0
5294  the shillong times reports on january 1, that ...  2019.0

[5295 rows x 2 columns]

In [67]:
satp['description'][0]

'a special police officer (spo), identified as sameer ahmad was killed by suspected militants at hajan in pulwama district on january 1 evening, reports daily excelsior. sources said that suspected militants fired at sameer ahmad. the injured was immediately taken to a hospital where he was declared as brought dead, sources said. they said the militants managed to escape under the cover of darkness. security forces were rushed and a search operation was launched to nab the attackers, they added'

In [68]:
data = []
wl = WordNetLemmatizer()
for i in range(len(satp)):
    # removes unnecessary characters
    row = re.sub('[^a-zA-Z0-9. ]', '', satp['description'][i])
    # tokenization
    row = row.split()
    # lemmatization and stop words removal
    row = [wl.lemmatize(word) for word in row if not word in set(stopwords.words('english'))]
    
    
    data.append(' '.join(row))


satp['description'] = data
satp['description'][0]

'special police officer spo identified sameer ahmad killed suspected militant hajan pulwama district january 1 evening report daily excelsior. source said suspected militant fired sameer ahmad. injured immediately taken hospital declared brought dead source said. said militant managed escape cover darkness. security force rushed search operation launched nab attacker added'

In [69]:
satp['length'] = satp['description'].apply(len)
satp['length'].describe()

count    5295.000000
mean      457.963551
std       239.880082
min        43.000000
25%       279.000000
50%       420.000000
75%       584.000000
max      1949.000000
Name: length, dtype: float64

In [70]:
satp

                                            description    year  length
0     special police officer spo identified sameer a...  2019.0     374
1     armed force special power act afspa extended s...  2019.0     489
2     january 1 exunited liberation front asom ulfa ...  2019.0     418
3     number objection filed draft national register...  2019.0     453
4     year 2019 challenging odisha police many impor...  2019.0     340
...                                                 ...     ...     ...
5290  naga student federation nsf december 31 condem...  2019.0     382
5291  national register citizen nrc official assam p...  2019.0     586
5292  naxalites left wing extremist lwes set ablaze ...  2019.0     492
5293  northeast today report official stated decembe...  2019.0     367
5294  shillong time report january 1 according intel...  2019.0     426

[5295 rows x 3 columns]