#### In this notebook, I will read, clean, and merge 16 different csv and excel files containing datasets of tweets scraped from the @BloodDonorsIn. I will save the resulting dataset into a csv file called final_df.csv.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path1 = os.getcwd()
print(path1)
path = os.path.join(os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(path1)))), "Data/Twitter/")
print(path)

/Users/jonathanold/Library/CloudStorage/GoogleDrive-jonathan_old@berkeley.edu/My Drive/_Berkeley Research/Reservations and Conflict/Github/conflict-india/code/tweets
/Users/jonathanold/Library/CloudStorage/GoogleDrive-jonathan_old@berkeley.edu/My Drive/_Berkeley Research/Reservations and Conflict/Data/Twitter/

In [3]:
file_names = ["dataset_easy-twitter-search-scraper_2023-09-18_07-11-32-089.xlsx",
    "dataset_easy-twitter-search-scraper_2023-09-18_08-26-29-038.xlsx",
    "dataset_easy-twitter-search-scraper_2023-09-18_18-52-39-192.xlsx"]

df1 = pd.read_excel(path + file_names[0])
df2 = pd.read_excel(path + file_names[1])
df3 = pd.read_excel(path + file_names[2])

In [4]:
all(df1.columns == df3.columns) & all(df1.columns == df2.columns)

True

In [5]:
# merging all three "easy-twitter-search-scraper" dataframes
dfset1 = pd.concat([df1, df2, df3], axis = 0)
dfset1.reset_index(drop = True, inplace = True)
dfset1.head(5)

,fullname,id,images/0,isQuote,isRetweet,likes,quotedTweet/avatar,quotedTweet/fullname,quotedTweet/images/0,quotedTweet/text,...,quotedTweet/url,quotedTweet/username,quotes,replies,retweets,text,timestamp,url,username,verified
0,Blood Donors India,1703625467549421577,NaN,False,False,7,NaN,NaN,NaN,NaN,...,NaN,NaN,0,1,51,#Mohali Need Blood Platelets B+ve 1 unit at Fo...,2023-09-18T04:22:00.000Z,https://twitter.com/BloodDonorsIn/status/17036...,@BloodDonorsIn,True
1,Blood Donors India,1703498594941280435,NaN,False,False,1,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,Please share city name. Thanks!,2023-09-17T19:58:00.000Z,https://twitter.com/BloodDonorsIn/status/17034...,@BloodDonorsIn,True
2,Blood Donors India,1703329082459431385,NaN,False,False,10,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,85,#Lucknow #UttarPradesh Need Blood Any group 10...,2023-09-17T08:44:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...,@BloodDonorsIn,True
3,Blood Donors India,1703328742326649199,NaN,False,False,11,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,89,#Delhi Need Blood Any group 2 units at BLK Hos...,2023-09-17T08:43:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...,@BloodDonorsIn,True
4,Blood Donors India,1703328498406797694,NaN,False,False,9,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,64,#Jabalpur Need Blood AB-ve 2 units at Seth Man...,2023-09-17T08:42:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...,@BloodDonorsIn,True

In [6]:
# extracting needed columns
dfset1 = dfset1.loc[:, ['id', 'likes', 'replies', 'retweets', 'text', 'timestamp', 'url']]
dfset1.drop_duplicates(subset = 'id', keep = 'first', inplace = True) # dropped about 2k duplicated tweets
dfset1.set_index('id', inplace = True)
dfset1.head(5)

,likes,replies,retweets,text,timestamp,url
id,,,,,,
1703625467549421577,7,1,51,#Mohali Need Blood Platelets B+ve 1 unit at Fo...,2023-09-18T04:22:00.000Z,https://twitter.com/BloodDonorsIn/status/17036...
1703498594941280435,1,0,0,Please share city name. Thanks!,2023-09-17T19:58:00.000Z,https://twitter.com/BloodDonorsIn/status/17034...
1703329082459431385,10,0,85,#Lucknow #UttarPradesh Need Blood Any group 10...,2023-09-17T08:44:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...
1703328742326649199,11,0,89,#Delhi Need Blood Any group 2 units at BLK Hos...,2023-09-17T08:43:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...
1703328498406797694,9,0,64,#Jabalpur Need Blood AB-ve 2 units at Seth Man...,2023-09-17T08:42:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...

In [7]:
dfset1.shape

(32354, 6)

In [8]:
# reading 11 xlsx and 8 csv tweet-flash-scraped datasets, formatted in a different way, going to clean and adjust format in the following:
file_names_xlsx = [
    "dataset_tweet-flash_2023-09-22_10-51-50-140.xlsx",
    "dataset_tweet-flash_2023-10-07_02-21-59-781.xlsx",
    "dataset_tweet-flash_2023-10-07_04-20-17-613.xlsx",
    "dataset_tweet-flash_2023-10-07_21-13-07-024.xlsx",
    "dataset_tweet-flash_2023-10-08_08-53-21-926.xlsx",
    "dataset_tweet-flash_2023-10-08_09-45-08-890.xlsx",
    "dataset_tweet-flash_2023-10-08_09-45-09-775.xlsx",
    "dataset_tweet-flash_2023-10-08_21-27-51-899.xlsx",
    "dataset_tweet-flash_2023-10-08_22-01-26-250.xlsx",
    "dataset_tweet-flash_2023-10-09_00-41-48-717.xlsx",
    "dataset_tweet-flash_2023-10-09_05-44-22-845.xlsx"]

file_names_csv = [
    "dataset_tweet-flash_2023-09-16_02-03-32-004.csv",
    "dataset_tweet-flash_2023-10-20_18-43-29-410.csv",
    "dataset_tweet-flash_2023-10-20_19-27-01-605.csv",
    "dataset_tweet-flash_2023-10-20_19-40-11-196.csv",
    "dataset_tweet-flash_2023-10-20_19-42-53-952.csv",
    "dataset_tweet-flash_2023-10-20_19-43-29-444.csv",
    "dataset_tweet-flash_2023-10-20_19-46-01-086.csv",
    "dataset_tweet-flash_2023-10-20_19-53-42-590.csv"]

# creating a second dfset and putting xlsx and csv files with two for loops in order
dfset2 = {}
for i in range(len(file_names_xlsx)):
    dflashi = pd.read_excel(path + file_names_xlsx[i])
    dfset2[f'dflash{i}'] = dflashi
            
for i in range(len(file_names_csv)):
    dflashi = pd.read_csv(path + file_names_csv[i])
    dfset2[f'dflash{i+11}'] = dflashi
    
print("Done")

Done

In [9]:
# make the dfset2 files to be same format as dfset1
for i in range(19):
    dfset2[f'dflash{i}'] = dfset2[f'dflash{i}'].loc[:, ['likes', 'replies', 'retweets', 'text', 'timestamp', 'url']]
    dfset2[f'dflash{i}']['id'] = dfset2[f'dflash{i}']['url'].str[-19:]
    dfset2[f'dflash{i}']['id'] = dfset2[f'dflash{i}']['id'].str.lstrip('/').astype(int)
    dfset2[f'dflash{i}'].set_index('id', inplace = True)

In [10]:
# reading and cleaning the last dataset that has another format
dfurl = pd.read_csv(path + 'dataset_twitter-url-scraper_2023-09-16_00-19-46-917.csv')
dfurl = dfurl.loc[:, ['favorite_count', 'reply_count', 'retweet_count', 'full_text', 'created_at', 'url']]
dfurl = dfurl.rename(columns = {'favorite_count': 'likes', 'reply_count': 'replies', 'retweet_count': 'retweets',
                               'full_text': 'text', 'created_at': 'timestamp'})
dfurl['id'] = dfurl['url'].str[-19:]
dfurl['id'] = dfurl['id'].str.lstrip('/')
dfurl['id'].astype(int)
dfurl.set_index('id', inplace = True)

In [11]:
# let's now merge these the dflash-formatted files that are in a dictionary into a new dfset3
dfset3 = pd.concat(dfset2.values(), axis = 0)
dfset3

# merge that with dfurl, and the dfs and store it as df variable
df = pd.concat([dfset1, dfset3, dfurl], axis = 0)
df

# let's drop duplicates
df = df[~df.index.duplicated(keep = 'first')]
df.head()

,likes,replies,retweets,text,timestamp,url
id,,,,,,
1703625467549421577,7,1,51,#Mohali Need Blood Platelets B+ve 1 unit at Fo...,2023-09-18T04:22:00.000Z,https://twitter.com/BloodDonorsIn/status/17036...
1703498594941280435,1,0,0,Please share city name. Thanks!,2023-09-17T19:58:00.000Z,https://twitter.com/BloodDonorsIn/status/17034...
1703329082459431385,10,0,85,#Lucknow #UttarPradesh Need Blood Any group 10...,2023-09-17T08:44:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...
1703328742326649199,11,0,89,#Delhi Need Blood Any group 2 units at BLK Hos...,2023-09-17T08:43:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...
1703328498406797694,9,0,64,#Jabalpur Need Blood AB-ve 2 units at Seth Man...,2023-09-17T08:42:00.000Z,https://twitter.com/BloodDonorsIn/status/17033...

In [12]:
# let's transform timestamp values to datetime values and extract dates for future visualizations 
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.date
df

,likes,replies,retweets,text,timestamp,url,date
id,,,,,,,
1703625467549421577,7,1,51,#Mohali Need Blood Platelets B+ve 1 unit at Fo...,2023-09-18 04:22:00+00:00,https://twitter.com/BloodDonorsIn/status/17036...,2023-09-18
1703498594941280435,1,0,0,Please share city name. Thanks!,2023-09-17 19:58:00+00:00,https://twitter.com/BloodDonorsIn/status/17034...,2023-09-17
1703329082459431385,10,0,85,#Lucknow #UttarPradesh Need Blood Any group 10...,2023-09-17 08:44:00+00:00,https://twitter.com/BloodDonorsIn/status/17033...,2023-09-17
1703328742326649199,11,0,89,#Delhi Need Blood Any group 2 units at BLK Hos...,2023-09-17 08:43:00+00:00,https://twitter.com/BloodDonorsIn/status/17033...,2023-09-17
1703328498406797694,9,0,64,#Jabalpur Need Blood AB-ve 2 units at Seth Man...,2023-09-17 08:42:00+00:00,https://twitter.com/BloodDonorsIn/status/17033...,2023-09-17
...,...,...,...,...,...,...,...
1325816235905314818,191,1,83,"Dear #Lucknow, Please help!!",2020-11-09 15:03:17+00:00,https://twitter.com/BloodDonorsIn/status/13258...,2020-11-09
1023467304732876801,183,3,135,#Delhi Need #Blood any group 12 units at ILBS ...,2018-07-29 07:16:35+00:00,https://twitter.com/BloodDonorsIn/status/10234...,2018-07-29
1151096535473483782,198,2,38,This request is fulfilled. Thanks to all the d...,2019-07-16 11:49:35+00:00,https://twitter.com/BloodDonorsIn/status/11510...,2019-07-16
1148818437843705857,15,2,68,#Kolkata\nNeed #Blood Type : A-negative\nAt :...,2019-07-10 04:57:14+00:00,https://twitter.com/BloodDonorsIn/status/11488...,2019-07-10
1359896039185145857,192,8,77,#Hyderabad\nNeed #Blood Type : O-positive\nAt...,2021-02-11 16:04:16+00:00,https://twitter.com/BloodDonorsIn/status/13598...,2021-02-11

In [13]:
df.shape

(240661, 7)

In [14]:
df.to_csv('final_df.csv', index = False)